@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

body {
    height: auto;
    background-color: #F7EEEA;
}

header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 80px;
    background-color: rgb(252, 211, 194);

}

.banner {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: 40px;
    border: 5px solid white;
    border-radius: 50px;
    background-color: rgb(180, 228, 255);
    padding: 30px 20px 30px 20px;
    box-shadow: 0 0 8px rgb(199, 198, 198);
    font-size: 30px;
    text-decoration: none;
}

.banner .prom {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-style: italic;
}
.banner .que {
    font-family: Montserrat, sans-serif;
}

.banner .ador {
    font-family: Oleo Script Swash Caps, cursive;
}

span {
    color: #472A1C;
}

.ftbn {
width: 33%;
}

.imagens {
    display: flex;
    background-color: rgb(255, 131, 224);
    align-content: center;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    padding: 20px;
    width: 450px;
    height: 285px;
    border-radius: 20px;
}

.produtos {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
}

.mais {
    display: flex;
    font-family: Montserrat, sans-serif;
    margin-left: 40px;
    font-size: 10px;
}

.prod {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 8px;
}

.categorias {
    color: #472A1C;
    display: flex;
    font-family: Montserrat, sans-serif;
    margin-left: 40px;
    font-size: 0.7em;
}

.linkch {
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 20px;
    color: #472A1C;
}

.ckch {
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    border: 5px solid white;
    margin: 5px;
    font-family: Montserrat, sans-serif;

}

.desc {
    margin: 5px;

}

#infos {
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: auto;
    font-family: Montserrat, sans-serif;
    text-decoration: none;

}

